<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
    <br/> <div [hidden]="isHide">template: {{content}}</div>
  </h1>
  <div><button (click)="toggleText()">Take a look</button></div>
  <app-heroes>
    <!--khi component này được khởi tạo=> hàm ngOnInit() chạy=> hàm getHeroes() chạy=> hàm add() chạy
    =>instance messageService có giá trị của prop messages => messageComponet chạy và in ra messages-->
  </app-heroes>
<!--phần hiển thị thông báo, các thông báo được định nghĩa ở messagesComponent-->
<app-messages></app-messages>
