<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
    <br/> <div [hidden]="isHide">template: {{content}}</div>
  </h1>
  <div><button (click)="toggleText()">Take a look</button></div>
  <!-- phần router-outlet giữ chỗ cho component heroes, nó là 1 router directive 
  chỉ module nào import _nameRoutingModule thì component trực tiếp của module đó mới dùng được
  -->
  <nav class="d-flex flex-row justify-center">
    <a routerLink="/heroes">LIST HEROES</a>
    <div>&nbsp;</div>
    <a routerLink="/dashboard">DASHBOARD</a>
  </nav>
  
  <router-outlet></router-outlet>
<!--phần hiển thị thông báo, các thông báo được định nghĩa ở messagesComponent-->
<app-messages></app-messages>