<!-- bây giờ ta sẽ tách phần hiển thị thông tin trên
   thành 1 component tên herodetail. Component này cần đầu vào là 1 property :hero 
được lấy giá trị là từ hero selected-> cần pass 1 đối tượng => sử dụng @input trong decorator của 
component heroDetail có nhãn là hero , nhãn có giá trị bằng giá trị selectedHero 
====>đây là các pass dữ liệu qua các component :từ component to->nhỏ =->@input
--> 

<app-hero-detail [hero]="selectedHero"></app-hero-detail>
<!-- hiện danh sách heroes -->
<h2>My Heroes</h2>
<ul class="heroes">
  <!-- lặp qua các li  . *ngFor="let _element of _array"-->
  <li *ngFor="let hero of heroes"
  [class.selected]="hero===selectedHero"
   (click)="onSelectHero(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
  <!--in order to add a class to html element, we use class binding-->
  <!--để add 1 attribute cho 1 element [_attribute._name]="_condition"-->
  <!--để add sự kiện trực tiếp trên elenment: (_event)="_function(_para)"-->
</ul>